*,
*::before,
*::after {
    box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif; */

body {
    margin: 0;
    background-color: white;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    gap: 90px;
    row-gap: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin-top: 70px;

}

.features {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 11px;
    padding: 0px;
    gap: 28px;

}

.menu {
    display: none;
}

.mini-features {

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    size: 20px;
    line-height: 20px;
}

.pink {
    color: #FF3998;
}

.hero {

    display: flex;

}

.hero .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    position: relative;
    margin-top: 50px;

}

.hero .right {
    width: 50%;
    text-align: center;
    position: relative;

}

.headline {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    size: 16px;
    line-height: 19.36px;
    letter-spacing: 10%;
    text-transform: uppercase;

}

.main-headline {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 116.18px;
    margin: 0px;
   
}

.smaller {
    font-size: 56px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    size: 20px;
    line-height: 30px;
    margin: 0px;
}

.underline {
    text-decoration: underline;
}

.right {
    position: relative;
}

.container.hero.picture {
    width: 328px;
    height: 519px;
    object-position: left;
  

}



.circle {
    width: 188px;
    height: 75px;
    margin-top: 20px;
    background-color: white;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    border-color: orange;
}

.small-container {
  
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

}

.sentence {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding-bottom: 60px;
    justify-content: flex-end;

}

.sentence .small-container {
    height: 320px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.bigger-p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 0px;
    padding-left: 64px;

}

.sentence .text {
    padding-left: 64px;
}

.press {
    display: flex;
    justify-content: space-between;
    height: 49px;
    column-gap: 40px;
}


    .showcase {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

} 

.showcase .bigger-p {
    padding-left: 0px;
}

.images {
    max-width: 290px;
    display: flex;
    /* justify-content: space-between; */
    column-gap: 15px;
}

.hero.border {
    
    border-bottom: 10px solid;
    border-top: 2px solid;
    border-bottom: medium solid lightslategray;
    border-top: medium solid lightslategray;
    padding-top: 30px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 71px;
    row-gap: 120px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

th {
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

td {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.space {
    padding: 10px;
}

.main {
    font-weight: normal;
}

.lefty {
    width: 50%;
}

table {
    width: 50%;
}

.footer {
    width: 100%;
    margin-bottom: 50px;
}


@media(max-width: 1200px) {
    .container {margin-left: 80px;}
}

@media(max-width: 800px) {
    .container {margin-left: 80px;
    margin-left: 80px;
    margin-right: 80px; 
    gap: 70px}

    .hero .left { width: 100%; }

    .main-headline {
    font-size: 48px;
    line-height: 58px;}

    .text {
    font-size: 20px;}

    .press 
    {flex-wrap: wrap;}
    .press :nth-child(5) {
        display: none;
    }

    .showcase-image:nth-child(3),.showcase-image:nth-child(4){
    display: none;}

    .bottom { flex-wrap: nowrap; }

    .hero.border.right {
        top: 217px;
    }
    .features {
        display: none;
    }
    .menu {display: block;}
}




@media (max-width: 428px) {
    .container {
      
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;  
        width: 428px;
    }

        .features {
            display:none;}

        .menu {display: ;}
        .right{display: none;}

        .bottom {flex-wrap: nowrap;}
        
        .lefty {margin-bottom: 50px;}
        .footer {display: block};}
        /* .press-container {
            margin: 32px;
        } */
  } 

}

/* <<mobile>> */

  /* DESKTOP FIRST template */@media(max-width: 799px) { } @media(max-width: 499px) { } @media(max-width: 299px)


/* MOBILE FIRST template */
/* DESKTOP FIRST template */
/* @media(max-width: 799px) {}

/* @media(max-width: 499px) {} 

@media(max-width: 299px) {}


@media (min-width: 428px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
      grid-template-columns: 1fr 1fr;
    }
  }  